@import '../../styles/font.scss';

.header {
  @include mainFont;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 2em 0;
  margin: 1em auto;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  max-width: 1440px;
  position: relative;

  @media screen and (min-width: 768px) {
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
  }

  .imageOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
    z-index: 10;
  }

  .section {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-beween;
    align-items: flex-end;

    @media screen and (min-width: 768px) {
      margin-left: 5em;
    }

    .headerTitle {
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-size: 4rem;
      font-weight: 500;
      width: min-content;

      @media screen and (min-width: 768px) {
        font-size: 4.5rem;
      }
    }
  }

  .brand {
    z-index: 10;
    font-size: 4rem;
    font-weight: 500;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    padding: 0 .2em;

    @media screen and (min-width: 768px) {
      font-size: 4.5rem;
    }
  }
}